#pingpongimg {
    width: 100%;
}

.heading {
    width: 100%;
    text-align: center;
}

.heading h3 {
    display: inline;
}

#Instructions {
    float: right;
}

.modal-body {
    text-align: left;
}

.modal-content {
    width: 45%;
}